<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="{{ path('rennes_jeux_sondage_liste', {'affichage': 'apercu'})}}">Apercu des sessions</a></li><!--class="active"-->
    <li><a href="{{ path('rennes_jeux_sondage_liste', {'affichage': 'proposees'})}}">Liste des sessions proposées</a></li>
    <li><a href="{{ path('rennes_jeux_sondage_liste', {'affichage': 'validees'})}}">Liste des sessions validées</a></li>
    <li><a href="#">Ajouter des sessions</a></li>
  </ul>
</div>