
{% extends 'RennesJeuxSondageBundle::base.html.twig' %}

{%  block body %}
{% if affichage == 'apercu' %}
<h1 class="page-header">Sessions</h1>
{{ render(controller("RennesJeuxSondageBundle:Session:proposees", {'apercu':true}))}}

{{ render(controller("RennesJeuxSondageBundle:Session:validees", {'apercu':true}))}}
{% else %}
	{% if affichage == 'proposees' %}
	{{ render(controller("RennesJeuxSondageBundle:Session:proposees", {'apercu':false}))}}
	{% else %}
		{% if affichage == 'validees' %}
			{{ render(controller("RennesJeuxSondageBundle:Session:validees", {'apercu':false}))}}
		{% endif %}
	{% endif %}
{% endif %}
{% endblock %}

