{% extends "::base.html.twig" %}

{% block title %}RennesJeuxUserBundle:UserController:desincription{% endblock %}

{% block body %}
<h1>Welcome to the UserController:desincription page</h1>
{% endblock %}
