{% extends "::base.html.twig" %}

{% block title %}RennesJeuxUserBundle:UserController:inscription{% endblock %}

{% block body %}
<h1>Welcome to the UserController:inscription page</h1>
{% endblock %}
